:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #333;
  gap: 0.5rem;

  h2,
  p {
    margin: 0;
  }

  h2 {
    margin-bottom: -0.5rem;
    display: flex;
    justify-content: space-between;
  }

  h2 + p {
    opacity: 0.75;
    flex-grow: 1;
  }

  button {
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: #005bb5;
    }
  }
}
